force-app/main/default/flows/AML_Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Address_Verification_Email_to_Customer</name>
        <label>Address Verification Email to Customer</label>
        <locationX>1434</locationX>
        <locationY>971</locationY>
        <actionName>Case.Verify_Address</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Refund_No_Goal_email</name>
        <label>Auto Refund No Goal email</label>
        <locationX>1093</locationX>
        <locationY>1421</locationY>
        <actionName>Case.Auto_Refund_deposit_as_No_Goal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send email to the customer using email alert and bank statement auto email (email template).</description>
        <name>Email_Customer</name>
        <label>Email Customer</label>
        <locationX>718</locationX>
        <locationY>1443</locationY>
        <actionName>Case.Bank_statement_auto_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to contact when a case gets created.</description>
        <name>Fund_return_email_to_customer</name>
        <label>Fund return email to customer</label>
        <locationX>887</locationX>
        <locationY>1345</locationY>
        <actionName>Case.Auto_response_for_AML_Rule</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ID_and_Address_Verification_Email_to_Customer</name>
        <label>ID and Address Verification Email to Customer</label>
        <locationX>1435</locationX>
        <locationY>1265</locationY>
        <actionName>Case.Verify_ID_and_Address</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email alert to customer when there is no ID presented during the on-boarding process.</description>
        <name>NoID_Email_to_customer</name>
        <label>NoID Email to customer</label>
        <locationX>976</locationX>
        <locationY>1274</locationY>
        <actionName>Case.Customer_Verification_Name_and_address</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Record_with_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send email alert to queue</description>
        <name>Queue_Email_Elert</name>
        <label>Queue Email Elert</label>
        <locationX>621</locationX>
        <locationY>1107</locationY>
        <actionName>Case.Queue_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Rules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check whether the event is coming from AML or Cloudcheck.</description>
        <name>Check_Event_Source</name>
        <label>Check Event Source</label>
        <locationX>881</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cloudcheck_Pass_or_Partial_Fail</name>
            <conditionLogic>(1 AND 4) OR (4 AND 3 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloudcheck_Pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloudcheck_Pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cloudcheck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Boarding_Account</targetReference>
            </connector>
            <label>CC Pass/Partial Fail</label>
        </rules>
        <rules>
            <name>AML_CC_Fail</name>
            <conditionLogic>(2 AND 3 AND 1) OR 4 OR ( 5 AND 6 ) OR 7 OR ( 8 AND 9 ) OR ( 10 AND 11 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloudcheck_Pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cloudcheck</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AML</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Provided_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeactivateCustomer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rule_MDT</targetReference>
            </connector>
            <label>CC Fail/AML With No Transaction/Account Close</label>
        </rules>
        <rules>
            <name>AML_and_Transaction_Id</name>
            <conditionLogic>( 1 AND 2 )  OR ( 2 AND 3 AND (4 OR 5) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AML</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D13</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D16</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transection</targetReference>
            </connector>
            <label>AML Fail/ Returned transaction</label>
        </rules>
        <rules>
            <name>If_D14</name>
            <conditionLogic>( 1 AND 2 AND 3 AND 4 ) OR ( 5 AND 2 AND 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D14</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_record_type</targetReference>
            </connector>
            <label>D12 / D14</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_D12</name>
        <label>Check For D12</label>
        <locationX>243</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Create_D14_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rule_Id_D12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transaction</targetReference>
            </connector>
            <label>If rule Id D12</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which rules applies?</description>
        <name>Check_Rules</name>
        <label>Check Rules</label>
        <locationX>877</locationX>
        <locationY>1110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rule_MDT.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_return_email_to_customer</targetReference>
            </connector>
            <label>D1</label>
        </rules>
        <rules>
            <name>O1_or_O2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Boarding_Account</targetReference>
            </connector>
            <label>O2</label>
        </rules>
        <rules>
            <name>D7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_On_Boarding_Account_0</targetReference>
            </connector>
            <label>D7</label>
        </rules>
        <rules>
            <name>O5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rule_MDT.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoID_Email_to_customer</targetReference>
            </connector>
            <label>O5</label>
        </rules>
        <rules>
            <name>O1_OR_O6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_and_Address_Verification_Email_to_Customer</targetReference>
            </connector>
            <label>O6</label>
        </rules>
        <rules>
            <name>If_O7_or_O8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Verification_Email_to_Customer</targetReference>
            </connector>
            <label>If O7 or O8</label>
        </rules>
        <rules>
            <name>Only_O1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer</targetReference>
            </connector>
            <label>O1</label>
        </rules>
        <rules>
            <name>D15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_registered_customer</targetReference>
            </connector>
            <label>D15</label>
        </rules>
        <rules>
            <name>D12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D12</stringValue>
                </rightValue>
            </conditions>
            <label>D12</label>
        </rules>
        <rules>
            <name>D13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Refund_No_Goal_email</targetReference>
            </connector>
            <label>D13</label>
        </rules>
        <rules>
            <name>IF_C1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_account</targetReference>
            </connector>
            <label>IF C1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_D12</name>
        <label>IF D12</label>
        <locationX>506</locationX>
        <locationY>873</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_Rule_Id_D12</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D12</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_D12_Case</targetReference>
            </connector>
            <label>If Rule Id D12</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_O5</name>
        <label>If O5</label>
        <locationX>135</locationX>
        <locationY>1243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_Id_O5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>O5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>O1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>O6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>O7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rule_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>O8</elementReference>
                </rightValue>
            </conditions>
            <label>Rule Id O5, O1, O6, O7, O8</label>
        </rules>
    </decisions>
    <description>Create case when AML rules violated. Onboarding email alerts reconnected.</description>
    <environments>Default</environments>
    <interviewLabel>AML Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AML Case Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create case according to D1 AML rule type.</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>620</locationX>
        <locationY>950</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Queue_Email_Elert</targetReference>
        </connector>
        <inputAssignments>
            <field>AML_Decision_Flag__c</field>
            <value>
                <elementReference>Get_Rule_MDT.AML_Decision_Flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Get_Transection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Conclusion__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Case_Conclusion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Rule_MDT.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_to_FB__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Escalated_to_FB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Deposit_Held__c</field>
            <value>
                <elementReference>Get_Rule_MDT.First_Deposit_Held__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Get_Rule_MDT.Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_Rule_MDT.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Rule_MDT.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_category__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Rule_MDT.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Team_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Rule_MDT.Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_D12_Case</name>
        <label>Create D12 Case</label>
        <locationX>221</locationX>
        <locationY>859</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Create_Transaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Rule_MDT.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Rule_MDT.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_category__c</field>
            <value>
                <elementReference>Get_Rule_MDT.Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Rule_MDT.Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Rule_MDT.Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_D14_Transaction</name>
        <label>Create D14 Transaction</label>
        <locationX>251</locationX>
        <locationY>582</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Potential_customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Transaction_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Code__c</field>
            <value>
                <elementReference>$Record.Analisys_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Returned Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Particulars__c</field>
            <value>
                <elementReference>$Record.Particulars__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Transaction_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>$Record.Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Returned </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>$Record.Transaction_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a potential person account from transactiondata.</description>
        <name>Create_Potential_customer</name>
        <label>Create Potential customer</label>
        <locationX>250</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Bank_Account__c</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Customer_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create transactions based on AML rule violation event data.</description>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>433</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Rule_MDT</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Potential_customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Transaction_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analysis_Code__c</field>
            <value>
                <elementReference>$Record.Analisys_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Returned Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Particulars__c</field>
            <value>
                <elementReference>$Record.Particulars__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Transaction_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>$Record.Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>To be returned </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Record.Transaction_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>$Record.Transaction_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get account where on boarding Id or customer Id match from platform event to customer/Onboarding Id</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>924</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Event_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Timestamp__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contact id to link with the returned transaction.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>251</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_D12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Potential_customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get potential record type from person-account.</description>
        <name>Get_Customer_record_type</name>
        <label>Get Customer record type</label>
        <locationX>814</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potential</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>640</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_D12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rule_MDT.Case_Owner_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>640</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rule_MDT.Case_Record_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get custom metadata object where rule ID match with record name</description>
        <name>Get_Rule_MDT</name>
        <label>Get Rule MDT</label>
        <locationX>642</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rule_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AML_Rules__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Return Deposits Transaction(asset) record type</description>
        <name>Get_Transaction_record_type</name>
        <label>Get Transaction record-type</label>
        <locationX>630</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Potential_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned_Deposits</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gate transaction record to link with the case.</description>
        <name>Get_Transection</name>
        <label>Get Transection</label>
        <locationX>641</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rule_MDT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transaction_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_account</name>
        <label>Close account</label>
        <locationX>1362</locationX>
        <locationY>1412</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deactivated_in_cognito__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update case record to indicate that the email has been sent to customer.</description>
        <name>Update_Case_Record_with_Email_Sent</name>
        <label>Update Case Record with &apos;Email Sent&apos;</label>
        <locationX>976</locationX>
        <locationY>1440</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NoIDEmail_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer</name>
        <label>Update Customer</label>
        <locationX>1435</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>ID_and_Address_Verification_Email_to_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cloudcheck_Pass__c</field>
            <value>
                <elementReference>$Record.Cloudcheck_Pass__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cloudcheck</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Record.Timestamp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update onboarding Id</description>
        <name>Update_On_Boarding_Account</name>
        <label>Update On Boarding Account</label>
        <locationX>886</locationX>
        <locationY>653</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cloudcheck_Pass__c</field>
            <value>
                <elementReference>$Record.Cloudcheck_Pass__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cloudcheck</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Record.Timestamp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update onboarding Id</description>
        <name>Update_On_Boarding_Account_0</name>
        <label>Update On Boarding Account</label>
        <locationX>809</locationX>
        <locationY>1244</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ANZ_Provided_Name__c</field>
            <value>
                <elementReference>$Record.ANZ_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Record.Timestamp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update bank provided name and time stamp in customer record.</description>
        <name>Update_registered_customer</name>
        <label>Update registered customer</label>
        <locationX>718</locationX>
        <locationY>1270</locationY>
        <connector>
            <targetReference>Email_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bank_Provided_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>798</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>AML_Rule_Violation_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the newly created case Id.</description>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable stores the newly created case ID.</description>
        <name>NewlyCreatedCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>O1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>O1</stringValue>
        </value>
    </variables>
    <variables>
        <name>O6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>O6</stringValue>
        </value>
    </variables>
    <variables>
        <name>O7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>O7</stringValue>
        </value>
    </variables>
    <variables>
        <name>O8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>O8</stringValue>
        </value>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
