force-app/main/default/flows/Close_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Closed_Case</name>
        <label>Closed Case?</label>
        <locationX>405</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Complete_Close_Case_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Case_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the conclusion field value is other or not.</description>
        <name>Other_Conclusion</name>
        <label>Other Conclusion?</label>
        <locationX>784</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Conclusion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Information_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseConclusion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Conclusion__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Close Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>413</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1285</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Conclusion__c</field>
            <value>
                <elementReference>Case_Conclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conclusion__c</field>
            <value>
                <elementReference>Conclusion_If_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Additional_Information_Required</name>
        <label>Additional Information Required</label>
        <locationX>973</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Conclusion_If_Other</name>
            <fieldText>Conclusion (If Other)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Case_Screen</name>
        <label>Closed Case Screen</label>
        <locationX>676</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closedcasemessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 18px; color: rgb(228, 10, 32);&quot;&gt;The case is already closed!!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Close_Case_Fields</name>
        <label>Complete Close Case Fields</label>
        <locationX>642</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Other_Conclusion</targetReference>
        </connector>
        <fields>
            <name>Case_Conclusion</name>
            <choiceReferences>CaseConclusion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Conclusion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation of case closer</description>
        <name>ConfirmClosed</name>
        <label>ConfirmClosed</label>
        <locationX>1429</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationOfClose</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: verdana; color: rgb(0, 165, 175);&quot;&gt;Case {!GetRecord.CaseNumber} is closed now!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1429</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmClosed</targetReference>
        </connector>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 165, 175); font-family: verdana; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please press the next button to close the case {!GetRecord.CaseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
