force-app/main/default/flows/Company_or_trust_accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email alert to CS team members</description>
        <name>Sends_email_alert_to_CS_team_members</name>
        <label>Sends email alert to CS team members</label>
        <locationX>1095</locationX>
        <locationY>945</locationY>
        <actionName>Case.Company_or_trust_account_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_New_Case_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <description>Create a Text-&apos;Constant&apos; resource within the flow and store the Queue&apos;s developer name.</description>
        <name>QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <description>This flow triggers when a customer register with a company or trust bank details.</description>
    <environments>Default</environments>
    <interviewLabel>Company or trust accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company or trust accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a Case record on company or trust bank details used</description>
        <name>Company_or_trust_account</name>
        <label>Company or trust account</label>
        <locationX>1095</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A trust or company bank account has been selected by the customer in Akahu during registration. Please investigate and advise the customer to select a different bank account type. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_to_FB__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Customer_Support_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_category__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Trust or Company Bank Account Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AML Rule Breached at Registration</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the record for the newly created Case</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1095</locationX>
        <locationY>784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sends_email_alert_to_CS_team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Company_or_trust_account</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_New_Case_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Support_Queue_Id</name>
        <label>Get Customer Support Queue Id</label>
        <locationX>1095</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_or_trust_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Customer_Support_Queue_Id</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bank_Provided_Name_Akahu__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Trust</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Provided_Name_Akahu__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Limited</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Provided_Name_Akahu__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Partnership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Provided_Name_Akahu__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue> Incorporated</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_New_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
