force-app/main/default/flows/Customer_Set_FB_Advisor_Details_for_Referrals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Associated_Lead</name>
        <label>Associated Lead?</label>
        <locationX>1087</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>Create_Person_Detail_Change_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Associated_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Specifies the Forsyth Barr Advisor&apos;s name and email when the Customer was referred by the FB Advisor. Sends a callout to AWS to mark the account as referred.</description>
    <environments>Default</environments>
    <interviewLabel>Customer - Set FB Advisor Details for Referrals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer - Set FB Advisor Details for Referrals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an Person Detail Change (Platform Event) record to trigger a callout to AWS to set these fields on the Account for the referral process.</description>
        <name>Create_Person_Detail_Change_Record</name>
        <label>Create Person Detail Change Record</label>
        <locationX>1087</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FB_Advisor_email__c</field>
            <value>
                <elementReference>$Record.FB_Advisor_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FB_Advisor_name__c</field>
            <value>
                <elementReference>$Record.FB_Advisor_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred__c</field>
            <value>
                <elementReference>$Record.Referred__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person_Detail_Change__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks for an existing Lead matching on email and name to associate the FB Advisor to the account. Used when the Account was created NOT converted from existing Lead</description>
        <name>Get_Associated_Lead</name>
        <label>Get Associated Lead</label>
        <locationX>1095</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_Lead</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Account to copy through the FB Advisor details from the Lead</description>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>867</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Create_Person_Detail_Change_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>FB_Advisor_email__c</field>
            <value>
                <elementReference>Get_Associated_Lead.FB_Advisor_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FB_Advisor_name__c</field>
            <value>
                <elementReference>Get_Associated_Lead.FB_Advisor_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred__c</field>
            <value>
                <elementReference>Get_Associated_Lead.Referred__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Associated_Lead</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referred__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
