force-app/main/default/flows/Generate_Platform_event_for_bank_Akahu_status_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Submits changes to bank details for approval before creating Person Detail Change record</description>
        <name>Bank_Details_Change_Approval_Request</name>
        <label>Bank Details Change Approval Request</label>
        <locationX>505</locationX>
        <locationY>533</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Bank_detail_approval_request_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_the_conditions</name>
        <label>Check the conditions</label>
        <locationX>497</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_request_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Change_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Change_Approval__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_event_All_Bank_detail_fields_0</targetReference>
            </connector>
            <label>is request approved</label>
        </rules>
        <rules>
            <name>If_Only_status_Changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number_Akahu__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Provided_Name_Akahu__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Nickname__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.API_User_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Details_Change_Approval_Request</targetReference>
            </connector>
            <label>If Only status Changed</label>
        </rules>
        <rules>
            <name>If_close_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Close_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Request__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_to_closing</targetReference>
            </connector>
            <label>If close request</label>
        </rules>
        <rules>
            <name>PDS_Delivery_Checkbox_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PDS_Received__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Event_Record</targetReference>
            </connector>
            <label>PDS Delivery Checkbox Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Close_request_changed_by_CS</name>
        <label>If Close request changed by CS</label>
        <locationX>901</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed_by_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.API_User_Only</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Request__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_event_for_close_request</targetReference>
            </connector>
            <label>If changed by CS</label>
        </rules>
    </decisions>
    <description>Generates events for bank status changes and triggers approval process for bank detail changes. Also generates an Account Event platform change to send out to AWS when PDS Delivery confirmed</description>
    <environments>Default</environments>
    <interviewLabel>Generate Platform event for bank Akahu status change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate event for Bank status change/close request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an account event record which will send out to AWS to confirm receipt of PDS email</description>
        <name>Create_Account_Event_Record</name>
        <label>Create Account Event Record</label>
        <locationX>506</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDS_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AcctUnlocked__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>(Generate_event)</description>
        <name>Generate_event_All_Bank_detail_fields_0</name>
        <label>Generate event All Bank detail fields</label>
        <locationX>659</locationX>
        <locationY>437</locationY>
        <inputAssignments>
            <field>Account_Nickname__c</field>
            <value>
                <elementReference>$Record.Account_Nickname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>$Record.Bank_Provided_Name_Akahu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Number__c</field>
            <value>
                <elementReference>$Record.Bank_Account_Number_Akahu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Status__c</field>
            <value>
                <elementReference>$Record.Akahu_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person_Detail_Change__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_event_for_close_request</name>
        <label>Generate event for close request</label>
        <locationX>1137</locationX>
        <locationY>238</locationY>
        <inputAssignments>
            <field>Close_Request__c</field>
            <value>
                <elementReference>$Record.Close_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>$Record.Customer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Person_Detail_Change__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Change_status_to_closing</name>
        <label>Change status to closing</label>
        <locationX>730</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>If_Close_request_changed_by_CS</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>Check_the_conditions</targetReference>
        </connector>
        <filterLogic>( 1 AND 2 ) OR 3 OR 4 OR 5 OR ( 6 AND 7) OR 8 OR 9</filterLogic>
        <filters>
            <field>Akahu_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Akahu_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Account_Number_Akahu__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Provided_Name_Akahu__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Nickname__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Close_Request__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Close_Request__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PDS_Received__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bank_Change_Approval__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
